<div class='follow'>
  <a href="https://twitter.com/omarsahyoun" class="twitter-follow-button" data-show-count="false" data-size='large' data-lang="en">Follow @omarsahyoun</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<div class='feed'>
  <a href='http://feeds.feedburner.com/eduvoyage'>
    <img src='/images/rss-large.png' />
  </a>
  <h4>Get Posts by RSS</h4>
</div>
