* {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font: 15px Helvetica,arial,freesans,clean,sans-serif;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

a {
  color: #4183C4;
}

p, .post ul li {
  margin-bottom: 10px;
  color: #999;
  font-size: 17px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #4D4D4D;
  font-weight: 400;
}

.post ul li {
 margin: 0;
 list-style-type: square;
}

p code {
  background-color: #F8F8F8;

}

p.date {
  margin-bottom: 5px;
}

h2,h3 {
  margin-bottom: 5px;
}

h3 {
  font-size: 21px;
}


/* ------------------------------------------------------------

  =links and settings

------------------------------------------------------------ */

ul {
  margin: 10px 30px;
  list-style: none;
}

a, h3 a:hover, h1.title a:hover {
  text-decoration: none;
  }

a:hover {
  color: #333;
  }

a:focus {
  outline-style: none;
  }

a.to_comments {
  padding-left: 16px;
  background: url(../images/comment.png) no-repeat 0 0;
  }

strong,
strong a {
  font-weight: bold;
  }

strong.ruby {
  color: #A32022;
  font-weight: normal;
  }

img {
  border: none;
}

h2, h1.title {
  font-size: 25px;
  color: #555f64;
  font-weight: normal;
  margin-bottom: 20px;
}

.shadow {
  text-shadow: rgba(255,255,255,0.7) 1px 1px 0px;
}

h2 span, h1.title span {
  font-size: .5em;
  color: #555F64;
  display: block;
}

h3 a, h1.title a  {
  color: black;
}

/* ------------------------------------------------------------

  =layout

------------------------------------------------------------ */

.wrap {
  width: 960px;
  margin: 0 auto;
  }

#content {
  margin-top: 70px;
}


.content-wrap {
}

#left_col {
  float: left;
  width: 620px;
  padding-bottom: 30px;
  }

#right_col {
  float: right;
  width: 310px;
  padding-bottom: 30px;
  }

#footer {
  width: 100%;
  float: left;
  color: #AAA;
  border-top: 2px solid #D1D1D1;
}

#footer p {
  font-size: 11px;
  color: #888;
  padding: 0;
}

#footer a {
  color: #666;
  font-weight: bold;
}

#header {
  float: left;
  width: 100%;
  height: 40px;
  top: 0;
  margin-bottom: 50px;
  background: #FAFAFA;
  background: -moz-linear-gradient(#FAFAFA,#EAEAEA);
/*  background: -webkit-linear-gradient(#EAEAEA,#FAFAFA);*/
  background-image: -webkit-linear-gradient(top, #FAFAFA, #EAEAEA);
background-image: -webkit-linear-gradient(top, #F5FBFF, #E4F0FF);
background: white;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa',endColorstr='#eaeaea')";
/*  background: -moz-linear-gradient(#F5FBFF,#E4F0FF);
  background: -webkit-linear-gradient(#F5FBFF,#E4F0FF);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5fbff',endColorstr='#e4f0ff')";
*/  position: fixed;
  z-index: 10;
/*  border-bottom: 1px solid #CEE0E7;*/
  box-shadow: 0 1px 0 rgba(255,255,255,0.4),0 0 10px rgba(0,0,0,0.1);
  }

#header .wrap .wrap {
  float: left;
  width: 100%;
  position: relative;
  }


#header h1 a {
  float: left;
  background: transparent url(/images/logo.png) no-repeat 0 0;
  width: 125px;
  z-index: 100;
  position: fixed;
  height: 24px;
  top: 15px;
  text-indent: -1000px;
}

#header .wrap {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

#header ul {
  bottom: 10px;
  right: 0;
  margin-top: 5px;
  float: right;
  }

#header ul li {
 display: inline;
}

#header ul li div {
  float: left;
  border-radius: 4px;
  width: 28px;
  height: 28px;
  padding: 0px;
  margin-right: 10px;
  background: white;
}

#header ul li div:hover {
  border-color: #b1e1f3;
}

#header ul li div img {
 opacity: 0.7;
 -webkit-transition:opacity 200ms ease-in;
 -moz-transition:opacity 200ms ease-in;
 -o-transition:opacity 200ms ease-in;
 transition:opacity 200ms ease-in;
}

#header ul li div:hover img {
 opacity: 1;
}


/* ------------------------------------------------------------

  =lists

------------------------------------------------------------ */

ul.lst  li {
  font-size: 0.875em;
  border-bottom: 1px solid #F4F4ED;
  clear: both;
  }

ul.lst  li a {
  display: block;
  padding: .5em 0;
  }

ul.lst li.first a {
  padding-top: 0;
  }

ul.lst a img {
  float: left;
  display: block;
  border: 5px solid #eee;
  margin-right: 5px;
  width: 2.5em;
  height: 2.5em;
  }

ul.lst a:hover img {
  border: 5px solid #ddd;
  }

ul.lst a strong {
  display: block;
  color: #278CCD;
  }

ul.lst a:hover strong,
ul.thumbs a:hover {
  color: #333;
  }

ul.thumbs li a {
  font-size: .857em;
  color: #555F64;
  }

ul.thumbs li a strong {
  font-size: 1.167em;
  }

ul.body li {
  list-style: square;
  border: none;
  margin-left: 5em;
  font-size: 0.814em;
  line-height: 1.615em;
  }

ul#contact li {
  font-size: 0.814em;
  line-height: 1.615em;
  border: none;
  }

/* =self-clear floats */

.thumbs li a:after {
  content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }


/* ------------------------------------------------------------

  =article entries

------------------------------------------------------------ */

div.entry {
  margin-bottom: 5px;
  border-bottom: 1px solid #CEE0E7;
  padding-bottom: 30px;
}


/* ------------------------------------------------------------

  =comments

------------------------------------------------------------ */

.comment {
  margin: 0 1em;
  border-bottom: 1px dotted #333;
  }

.comment p {
  margin: 1.136em 0;
  }

.comment p.no_link,
.comment p a {
  display: block;
  padding: .5em 0;
  color: #555F64;
  }

.comment p a:hover {
  color: #333;
  }


.comment p.no_link img,
.comment p a img {
  float: left;
  display: block;
  border: 5px solid #eee;
  margin-right: 5px;
  width: 2.5em;
  height: 2.5em;
  }

.comment p a:hover img {
  border: 5px solid #ddd;
  }

.comment p.no_link strong {
  display: block;
  }

.comment p a strong {
  display: block;
  color: #278CCD;
  }

.comment p a:hover strong {
  color: #333;
  }

.comment + h2 {
  margin-top: 2em;
  }

/* ------------------------------------------------------------

  =images

------------------------------------------------------------ */

img.screen {
  margin: 1em 1em 0 1em;
  }


#footer dl {
  float: left;
  width: 16.33em;
  margin: 1em;
  background: url(../images/divide.gif) no-repeat top right;
  }

#footer dl.no-border {
  background: none;
}


#footer dl.right {
  text-align: right;
  background: none;
  }

#footer dl dt {
  font-size: 0.750em;
  line-height: 1.5em;
  font-weight: bold;
  color: #7A7A7A;
  }

#footer dl dd {
  color: #7A7A7A;
  font-size: 0.689em;
  line-height: 1.636em;
  }

#footer dl a {
  font-weight: bold;
  }

#footer dl a:hover {
  color: #fff;
  }

#footer dl dt a.feed {
  padding: 2px 20px 2px 0;
  background: url(../images/feed.png) no-repeat 100% 50%;
  }



  div#disqus_thread h3 {
    margin-left: 0;
    font-size: 12px;
  }

  div#disqus_thread li a em {
    text-decoration:none;
    font-size: 10px;
  }

div.note {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  padding: 5px;

}

div.sub {
/*  border-bottom: 1px solid #CEE0E7;*/
  margin-bottom: 5px;
}

div.sub p {
  font-size: 11px;
  font-weight: bold;
}

div.sub p.tweet {
  float: right;
}



div.posts-menu a {
  font-size: 18px;
}

div.posts-menu .meta {
  font-size: 11px;
  color: #ddd;
  font-weight: bold;
}

div.posts-menu li {
  margin-bottom: 5px;
}

p.intro {
  clear: none;
  color: #333;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 22px;
  font-weight: 300;
  text-shadow: rgba(255,255,255,1) 3px 1px 0px;
  line-height: 30px;
  background: #f9f9f9;
  clear: both;
  padding: 15px;
  margin: 0 -10px;
  font-weight: 300;;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

#right_col p.twitter-button {
  margin-left: 30px;
  margin-top: 30px;
}