{% include header.html %}
<div class="wrap">
  <div class="main main_left" id='left_col'>
    <div class="post">
      <h2 class='shadow'>{{ page.title }}</h2>
      {{ content }}
      {% include disqus.html  %}
      </div>
    </div>
    <div id='right_col'>
      <div class='about'>
        <h3>About</h3>
        <p>Little web dev tutorials.</p>
      </div>
      {% include feed.html %}
      {% include retweet.html %}
    {% include articles.html%}
    </div>
</div>
{% include footer.html %}